<div class="center-box">
  <div>
    <h3>****************************</h3>
    <label>Quntity: </label>
    <select [ngModel]="quantity()" (change)="onQuantitySelected($any($event.target).value)">

      @for (item of qtyAvailable(); track item) {
      <option>{{ item }}</option>
      }

    </select>

    <div>Dish: {{ selectedDish().name }}</div>
    <div>Price: {{ selectedDish().price }}</div>
    <div [style.color]="color()">Total: {{ totalPrice() }}</div>

    <div>Extended price: {{ totalPrice() }}</div>
    <div>Amount due: {{ totalPrice() }}</div>

    <button (click)="updatePrice()">Update menu price*2</button>
    <h3>****************************</h3>
  </div>

  <div>
    <h3>****************************</h3>
    <button (click)="updateUser()">Update User</button> &nbsp;
    <button (click)="incCount()">Inc count</button>
    <app-child [user]="user" [count]="count"></app-child>
    <h3>****************************</h3>
  </div>
</div>